/* ==========================================================================
   Colors
   ========================================================================== */
$white      : #fff;
$black      : #000;
$red        : #F52559;
$grey       : #898989;
$darkblue1  : #01060f;
$darkblue2  : #0f131c;
$midblue1   : #2b3952;
$midblue2   : #202c42;
$linkblue   : #23569c;
$border-grey: #e1e1e1;