/* ==========================================================================
   Most theme settings should be stored in Sassy CSS variables here, for reuse.
   ========================================================================== */
/*!theme settings */
$background-color:        {{ settings.background_color }};
$text-color:              {{ settings.text_color }};
$link-color:              {{ settings.link_color }};
$base-font-family:        'Oswald', sans-serif;
$base-font-size:          {{ settings.base_font_size }};
$heading-font-family:     'Libre Baskerville', serif;
$heading-font-weight:     700;