.grid-wrapper{
	@include animate(0.3s);
}

.grid {
	@include resetList;
	height: auto;
	background-color: $white;

	li{
		float: left;
		width: 33.333%;
		list-style-type: none;

		*{
			width: 100%;
		}
	}
}

.subcategories{
	@include resetList;

	li{

	}
}